<div  ng-controller="adminCtrl"
	data-ng-init="preInitialize()">
	<form name="myForm">
		<label for="repeatSelect"> Select User : </label> <select
			name="repeatSelect" id="repeatSelect" ng-model="formModal.username" ng-change="getUserSecurityProfile()">
			<option ng-repeat="user in users"
				value="{{user.USER_NAME}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
		</select>
	</form>
	<hr>
	<!-- <tt>model = {{userSecurityProfile}}</tt> -->
	<div class="table-responsive">
		<table
			class="table table-condensed table-striped table-bordered table-hover no-margin">
			<thead>
				<tr>
					<th style="width: 10%" class="hidden-phone">MODULE</th>
					<th style="width: 30%" class="hidden-phone">AUTH NAME</th>
					<th style="width: 20%" class="hidden-phone">PROFILE ID</th>
					<th style="width: 20%" class="hidden-phone">PROFILE NAME</th>
					<th style="width: 10%" class="hidden-phone">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "user in userSecurityProfile">
					<td class="hidden-phone">{{user.APP_MODULE_NAME}}</td>
					<td class="hidden-phone">{{user.APP_STATE_DESC}}</td>
					<td class="hidden-phone">{{user.SEC_PROFILE_ID}}</td>
					<td class="hidden-phone">{{user.SEC_PROFILE_NAME}}</td>
					<td class="hidden-phone">
						<div class="btn-group">
							<button data-toggle="dropdown" class="btn btn-sm dropdown-toggle"
								data-original-title="" title="">
								Action <span class="caret"> </span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a>Edit</a></li>
								<li><a>Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
				</tbody>
		</table>
	</div>
	
	<br />
	
</div>
<div class="row marketing">
		<p>{{'WELCOME_CONTROLLER_FOLLOWUP' | translate}}</p>
	</div>